.chatMember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.chatMember:hover {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

.chatMember > a {
    text-decoration: none;
    color: black;
}

.chatMember > a > div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatMember > a > div > p {
    margin-left: 5px;
}

.chatMember > div {
    display: flex;
}

.chatMember > div > p {
    margin-right: 5px;
    font-size: 10px;
}